<p><%= current_user.username %> has <%= pluralize(current_user.followers.count, "follower") %></p>

<p><%= current_user.username %> is following <%= pluralize(current_user.followees.count, "user") %></p>